<section class="comments">
  <div class="comments__form-section">
    <h2 class="comments__section-heading">Leave a Comment</h2>
    <form class="comments__form" method="post" action="{{ site.site_url~'/wp-comments-post.php' }}">
      <label>Comment</label>
      <textarea name="comment" cols="60" rows="3"></textarea>
      {% if user %}
        <input type="hidden" name="author" value="{{ user.name }}">
        <input type="hidden" name="email" value="{{ user.email }}">
      {% else %}
        <div class="form-row row">
          <div class="form-group col">
            <label>Name</label>
            <input required name="author" type="text">
          </div>
          <div class="form-group col">
            <label>Email</label>
            <input required name="email" type="email" id="email">
          </div>
        </div>
      {% endif %}
      <input name="comment_post_ID" value="{{ post.id }}" type="hidden">
      <input name="comment_parent"  value="{{ comment.ID|default('0') }}" type="hidden">
      <button type="submit" name="Submit" id="submit" class="button">Submit</button>
    </form>
  </div>
  {% if post.comments is not empty %}
    <div class="comments__comments-section">
      <div class="comments__list">
        <h4 class="comments__section-heading">Responses</h4>
        {% for comment in post.comments %}
          <article class="comments__comment" id="comment-{{ comment.id }}">
            <h5 class="comments__author">{{ comment.author.name }}</h5>
            <span class="comments__date"> {{ comment.comment_date|date('F j, Y • g:i a') }}</span>
            <p class="comments__content">{{ comment.content }}</p>
          </article>
        {% endfor %}
      </div>
    </div>
  {% endif %}
</section>

